.section-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;   

}

.section-banner-img {
    display: block;
    min-height: 956px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 40px;

    @media (max-width: 768px) {
        margin-top: 14px;
    }
        
}

.section-banner-img--xl {

    @media (max-width: 1200px) {
        display: none;
    }

    @media (max-width: 768px) {
        display: none;        
    }
}

.section-banner-img--md {
    display: none;

    @media (max-width: 1200px) {
        display: block;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.section-banner-img--sm {
    display: none;

    @media (max-width: 768px) {
        display: block;
    }
}


.section-banner__name {
    color: #252525;
    text-align: center;
    font-family: 'Gilroy';
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;


    @media (max-width: 1200px) {
        font-size: 92px;
    }

    @media (max-width: 768px) {
        font-size: 36px;
    }
}

.section-banner__title {
    color: #252525;
    font-family: 'Gilroy';
    font-size: 120px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 30px;

    @media (max-width: 1200px) {
        font-size: 92px;
    }

    @media (max-width: 768px) {
        font-size: 36px;
    }
}

.section-banner__svg {
    max-height: 40px;
    max-width: 25px;
}