.section-about-me {
    display: flex;
    flex-direction: row;     
    max-width: 100%;
    min-height: fit-content;
    padding: 70px 0;

    @media (max-width: 1200px) {
        flex-direction: column;
        padding: 0;
    }    

}


.section-about-me__bg1 {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    min-height: fit-content;
    
    @media (max-width: 1200px) {
        width: 100%;
        text-align: center;
        min-height: fit-content;
        justify-content: center;        
    }
    
    
    .section-about-me__description {
        color: #252525;
        font-family: 'Gilroy';
        font-size: 46px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        @media (max-width: 1200px) {
            font-size: 42px;
            padding: 30px 0;
        }

        @media (max-width: 768px) {
            font-size: 20px;
        }


    }


    .section-about-me__description-span {
        font-weight: 800;        
    }

}


.section-about-me__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    row-gap: 30px;
    width: 30%;
    min-height: 232px;
    background-color: #252525;
    padding: 60px 0;
    padding-right: 5%;

    @media (max-width: 1200px) {
        width: 100%;
        min-height: fit-content;
        padding: 40px 0;
        padding-right: 5%;
        
    }



    .section-about-me__social-title {
        color: #FFF;
        
        font-family: 'Gilroy';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        text-transform: uppercase;

        @media (max-width: 1200px) {
            font-size: 28px;
        }
        
    }


    .section-about-me__social-bar {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
       
    }
}



