.section-what-i-do {
      position: relative;
      border-bottom: 1px solid #252525;
      // .section-what-i-do__content

      &__content {
            display: flex;
            min-height: 1137px;

            @media (max-width: 1200px) {
                  flex-direction: column;
                  min-height: 100%;
            }
      }

      // .section-what-i-do__img

      &__img {

            height: 1137px;
            position: absolute;
            top: 0;
            left: 0;
            width: 51.042vw;
            object-fit: cover;
            object-position: center;

            @media (max-width: 1200px) {
                  position: relative;
                  width: 100%;
                  max-height: 991px;
            }

            @media (max-width: 768px) {
                  max-height: 478px;
            }

      }

      &__img-wrapper {
            width: 100%;

            @media (max-width: 1200px) {
                  display: none;
            }
      }

      // .section-what-i-do__text

      &__text {
            max-width: 940px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 100px;
            padding-top: 70px;
            padding-right: 63px;
            padding-left: 111px;

            @media (max-width: 1200px) {
                  padding-top: 40px;
                  padding-right: 0;
                  padding-left: 0;
                  padding-bottom: 40px;
                  gap: 40px;
            }

            @media (max-width: 768px) {
                  padding-top: 20px;
            }
      }

      // .section-what-i-do__title

      &__title {
            @include font-gilroy(clamp(79px, 7.76vw, 149px), 300, $font-color-black, 'Gilroy');
            text-transform: uppercase;
            text-align: center;

            @media (max-width: 1200px) {
                  font-size: 150px;
            }

            @media (max-width: 768px) {
                  font-size: 80px;
            }
      }

      // // .section-what-i-do__list

      &__list {
            display: flex;
            flex-direction: column;
            gap: 80px;

            @media (max-width: 768px) {
                  gap: 60px;
            }
      }

      // // .section-what-i-do__item

      &__item {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &::after {
                  content: '';
                  position: absolute;
                  height: 1px;
                  width: 100%;
                  background-color: #252525;
                  bottom: -40px;

                  @media (max-width: 768px) {
                        bottom: -30px;
                  }
            }

            &:last-child::after {
                  content: none;
            }
      }

      // // .section-what-i-do__item-title

      &__item-title {
            @include font-gilroy(clamp(23.33px, 2.292vw, 44px), 400, $font-color-black, 'Gilroy-SemiBold');

            text-transform: uppercase;
            line-height: 48px;
            // width: 766px;

            span {
                  font-family: 'Gilroy-Light';
            }

            @media (max-width: 1200px) {
                  font-size: 44px;
            }

            @media (max-width: 768px) {
                  font-size: 35px;
            }
      }

      // // .section-what-i-do__item-description

      &__item-description {
            @include font-inter(clamp(10.6px, 1.042vw, 20px), 400, $font-color-black, 'Inter');
            line-height: 36px;
            line-height: 140%;

            @media (max-width: 1200px) {
                  font-size: 20px;
            }
      }
}