
.section-selected-work {
    padding: 70px 0 100px;
    border-bottom: 1px solid #252525;

    @media (max-width: 1200px) {
        padding: 30px 0 30px;
    }

}


.section-selected-work-title {
    text-align: center;
    color: #252525;
    text-align: center;
    font-family: 'Gilroy', sans-serif;
    font-size: 114px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;

    @media (max-width: 1200px) {
        font-size: 70px;
    }

    @media (max-width: 768px) {
        font-size: 40px;
    }

}


.section-selected-work__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    column-gap: 40px;
    margin-bottom: 70px;
    
    @media (max-width: 1200px) {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;              
    }

    @media (max-width: 768px) {
        row-gap: 20px;
        margin-bottom: 40px;
    }

}

.section-selected-work__grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    row-gap: 30px;

}

.section-selected-work__grid-item-content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.section-selected-work__grid-item-title {
    color: #000;
    font-family: 'Gilroy';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1; 
    text-transform: uppercase;
}

.section-selected-work__grid-img-holder {
    position: relative;
    padding-top: 100%;
}

.section-selected-work__grid-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    object-fit: cover;
    object-position: center;
}


.section-selected-work__grid-btn-box {
    display: flex;
    flex-direction: row;
    column-gap: 30px;

    @media (max-width: 768px) {
        column-gap: 5px;
    }   
}

.section-selected-work__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 52px;
    background-color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    
    color: #252525;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    @media (max-width: 768px) {
        padding: 15px 15px;            
    }

}

.section-selected-work__btn--all-work {
    min-width: 187px;
    margin: 0 auto;

    @media (max-width: 768px) {
        min-width: 100%;
    }

}

.discover-btn {
    align-self: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;    
    column-gap: 10px;
    height: 52px;
    background-color: #252525;
    padding: 15px 30px;
    border-radius: 50px;

    color: #FFF;
    font-family: Gilroy-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}


.section-selected-work__grid-item--xl {
    @media (max-width: 1200px) {
        display: none;
        position: absolute;
        content: "";
        width: 0;
        height: 0;
    }

    @media (max-width: 768px) {
        display: none;
        position: absolute;
        content: "";
        width: 0;
        height: 0;
    }
}

.section-selected-work__grid-item--md-sm {
    display: none;

    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        row-gap: 30px;
    }

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        row-gap: 30px;
    }

}




