.section-contact {
  padding-top: 50px;
    padding-bottom: 100px;

    @media (max-width: 1200px) {
      padding-top: 30px;
      padding-bottom: 50px;
    }
  // .section-contact__content

  &__content {
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    max-width: 1780px;

    @media (max-width: 1200px) {
      flex-direction: column;
      padding-top: 0;
      align-items: center;
    }
    
  }

  // .section-contact__title

  &__title {
    @include font-gilroy(clamp(117px, 8.073vw, 155px), 300, $font-color-black, "Gilroy");
    text-transform: uppercase;
    display: block;
    width: 50%;

    @media (max-width: 1200px) {
      width: 100%;
      text-align: center;
      font-size: 150px;
    }

    @media (max-width: 768px) {
      font-size: 80px;
    }

    @media (max-width: 480px) {
      font-size: clamp(60px, 16.667vw, 80px);
    }
  }

  // .section-contact__text

  &__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  // .section-contact__text-title

  &__text-title {
    @include font-gilroy(clamp(50px, 3.333vw, 64px), 600, $font-color-black, "Gilroy");
    text-transform: uppercase;

    @media (max-width: 1200px) {
      font-size: 64px;
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 50px;
    }
  }

  // .section-contact__text-description

  &__text-description {
    @include font-inter(clamp(27px, 1.771vw, 34px), 400, $font-color-black, "Inter");

    @media (max-width: 1200px) {
      font-size: 34px;
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }

  // .section-contact__text-btn

  &__text-btn{
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__btn {
    @include font-gilroy(18px, 400, #ffffff, "Gilroy-Medium");

    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 50px;
    background: #252525;

    @media (max-width: 768px) {
      width: 100%;
    }

  }
}
