.footer {
	border-top: 1px solid #252525;
	// .footer__content

	&__content {
		display: flex;
		padding-top: 25px;
		padding-bottom: 25px;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1200px) {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		@media (max-width: 768px) {
			flex-direction: column;
			gap: 20px;
		}
	}

	// .footer__copyright

	&__copyright {
		@include font-gilroy(18px, 400, $font-color-black, "Gilroy-Regular");
		
	
	span{
		@include font-gilroy(18px, 400, $font-color-black, "Gilroy-SemiBold");
	}
	}

	
}
