
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 101px;
    padding-bottom: 30px;
    margin-top: 40px;
    margin-bottom: 30px;

    @media (max-width: 768px) {
        min-height: 35px;
        margin-top: 20px;
        padding-bottom: 0px;
        margin-top: 20px;
    }

    .header__logo-content {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;        
    
        .header__logo-title--name-xl-md {
            color: #000;
            text-align: center;
            font-family: 'Gilroy';
            font-size: 35px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            letter-spacing: -0.7px;
        }
    
        .header__logo-title--lastname-xl-md {
            color: #000;
            font-family: 'Gilroy';
            font-size: 35px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.7px;
            text-transform: uppercase;
        }
    
        .header__logo-title--reg-xl-md {
            position: absolute;
            top: 0;
            right: -21px;
            color: #000;
            text-align: center;
            font-family: 'Gilroy';
            font-size: 25px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    
        .header__logo-title {
            @media (max-width: 768px) {
                position: absolute;
                display: none;
                content: "";
            }
        }
    
    }
    
    .header__menu-btn {
        color: #252525;
        text-align: center;
        font-family: 'Gilroy';
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
    }


}



